.home-link{
    display: grid;
    align-items: flex-end;
    text-transform: uppercase;
    letter-spacing: 0.313em;
    padding: 3rem 4rem;
    border: 2px solid red;
    background: #f8f8f8;
    border-radius: 10px;
    z-index: 2;
    color: red;
    margin: var(--lwc-varSpacingMedium);
  }
  .home-link:hover{
    background-color: rgb(24, 24, 24);
    transition: 0.25s ease-in-out;
    border: 1px solid white;
    cursor: pointer;
    color: white;
  }