.body_div {
  background-color: #fff;
}

.ibanner_img {
  width: 100%;
  height: 20rem;
}

.banner_img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.card {
  background: #CDD0D1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  margin: .5rem;
  /* width: calc(33.3333% - 40px); */
  /* 1/3 minus the margins (20+20) */
  width: 200px;
  height: 100px;
  padding: 15px;
  text-align: center;
  color: #f00;
  float: left;
  /* --sds-c-badge-border-radius: 5px solid red; */
}

.card-container {
  padding: 0 5rem;
  margin: 2rem;
}

.margin-top-2 {
  margin-top: 2rem
}

.THIS.card:hover {
  background-color: red;
}

.next_button {
  font-weight: bold;
  color: #fff;
  background-color: red;
  border-radius: 15px;
  padding: 0 1rem;
}

.comp_button {
  font-weight: bold;
  color: red;
  background-color: #fff;
  border-radius: 15px;
  padding: 0 .5rem;
  border: 1px solid #f00;
}

@media all and (max-width:480px) {
  .ibanner_img {
    height: 12rem;
  }
}

@media all and (max-width:768px)and (min-width:480px) {
  .ibanner_img {
    height: 15rem;
  }
}