.top_text{
    font-weight: bold;
    color: #000080;
}
.head_content{
    color: #000080;
}
.first_table_content{
    font-family:'Montserrat';
    color: #0d0d11;
    font-size: medium;
    width: 25%;

}
.prem_content{
    color: #000080;
    font-style: bold;
}
.table_head{
    background-color :#e5e5e5;
    color: #000080;
}
.bottom_td{
    width: 16.6667%; height: 21px;
}
.middle_td{
    width: 12.5%;
    text-align: center;
}
.middle_head{
    background-color :#e5e5e5;
    color: black;
}
.part2{
    background: #c0c0c0;
}
.exampleHolder{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}
.section_value{
    /* background-color: rgb(221, 209, 209); */
    
    font-weight: normal;
    font-size: 2em;
    padding: .3em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
  }