.container{
    background-color: rgb(216, 211, 211);
    padding: 1% 1% 1% 1%;
    min-height: 100%;
}
.inner-container{
    background-color: #fff;
    border-radius: 9px;
    /*max-width: 900px !important;*/
    margin-left: 25%;
    padding: 1% 1% 1% 3%;
    margin-top: 2%;
    height: 92%;
    width: 50%;
    overflow-y: auto;
}
.inner-container2{
    background-color: #f0ebeb;
    padding: 1% 1% 1% 1%;
    border-radius: 9px;
    width: 95%;
    /*margin-left: 7%;*/
    padding-bottom: 2%;
    padding-left: 3%;
    
}
.p1 {
    font-size:14px;
    font-weight: bold;
}
.p2 {
    font-size:12px;
    border-bottom: 1px solid #aea3a3;
}
.p3 {
    font-size:12px;
    font-weight: bold;
    padding-bottom: 1%;
}
.p4 {
    font-size:12px;
    font-weight: bold;
    text-align:center;
}
.p5 {
    font-size:13px;
    word-wrap: break-word;
}
.p6 {
    font-size: 14px;
    font-weight: bold;
    color: gray;
}
.hr1{
    background-color: red;
    width: 12%;
    margin-top: 1%;
    margin-bottom: 2%;
    padding-top: 1px;
}
.hr2{
    margin-top: 6%;
    margin-bottom: 3%;
    width: 90%;
}
.span1{
    /* padding-right: 1%; */
    padding-top:1%;
    /* padding-left: 1%; */
}
.progress1{
    width:20%;
    background-color:red;
}
.progress2{
    width:40%;
    background-color:red;
}
.progress3{
    width:60%;
    background-color:red;
}
.progress4{
    width:80%;
    background-color:red;
}
.progress5{
    width:100%;
    background-color:red;
}
.div1{
    padding: 1%;
    background-color: #f0ebeb;
}
ul {
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: red;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}
.red-dot {
    content: "\2022";
    color: red;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
}
.input1 {
    width: 90%;
}
.THIS .slds-file-selector__dropzone .slds-file-selector__text{
    display: none;
}

/* remove the "Upload Files" text from the button of the lightning:input type file */
.THIS .slds-file-selector__dropzone .slds-file-selector__button{
     font-size: 0;
}

/* insert the text "Upload" into the button of the lightning:input type file */
.THIS .slds-file-selector__dropzone .slds-file-selector__button:after{
    content: 'Upload';
   font-size: .8125rem;
   color: rgba(17, 82, 121, 1.0);
}

/* insert the text "New Exam" into the button of the lightning:input type file */
/* .THIS .slds-file-selector__dropzone .slds-file-selector__button:after{
    content: 'New Exam';
    font-size: .8125rem;
    color: rgba(27, 82, 151, 1.0); 
}*/