.card_body {
  background: #fff;
  /* padding: 3rem 4rem; */
  display: flex;
  align-items: center;
  flex-direction: column;
}

.default_padding {
  padding: 1rem;
  width: 80vw;
}

.card {
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin: 50px 20px 20px 20px;
  width: calc(33.3333% - 40px);
  /* 1/3 minus the margins (20+20) */
  padding: 15px;
  text-align: center;
  color: #f00;
  float: left;
}

.steps {
  width: calc(100% - 1px);
  background: #fff;
  /*margin-left: var(--lwc-spacingLarge);*/
}

.step {
  background: #fff;
  border-radius: 5px;
  margin: 40px 0px 40px 0px;
  padding: 20px;
  text-align: center;
  color: #f00;
  float: left;
  width: calc(20% - 30px);
}

.done {
  border: 2px solid #f0f0f0;
  box-shadow: 0 0 20px #f0f0f0;
}

.current {
  border: 2px solid rgba(255, 149, 149, 0.4);
  box-shadow: 0 0 20px rgba(255, 149, 149, 0.4);
}

.product_container {
  display: flex;
  align-content: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .card {
    margin: 10px 20px;
    width: calc(100% - 40px);
  }

  .card:first-child {
    margin-top: 20px;
  }
}

/*
.card:nth-child(2) {
  margin: 20px 0px;
  width: 33.3333%;
  padding: 50px 20px;
}*/

@media (max-width: 768px) {
  .card:nth-child(2) {
    margin: 10px 20px;
    width: calc(100% - 40px);
  }
}

.card .title {
  font-size: 25px;
}

.card .icon {
  margin: 20px 0;
}

.card .icon svg {
  width: 100px;
  height: 100px;
}

.card .icon svg path {
  fill: #F6B352;
}

.card .features ul {
  padding: 0;
  margin: 20px 0 50px 0;
  list-style-type: none;
}

.card .features ul li {
  margin: 10px 0;
  font-size: 14px;
}

.card .features ul li span {
  border-bottom: 2px dotted #F6B352;
}

.card .btn {
  display: block;
  background: #F6B352;
  color: white;
  padding: 15px 20px;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.9);
  transition: all 200ms ease-in-out;
  text-decoration: none;
}

.card .btn:hover {
  background: #F68657;
}

.lgc-bg-inverse {
  background-color: #f00;
}

/* .form_card {
box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
} */

.color_red {
  color: red
}

.red_bold {
  font-weight: bold;
  color: red
}

.shipment_amnt_input {
  margin-top: 1em;
  width: 60%;
  border: none;
  /* <-- This thing here */
  border: solid 2px red;
  border-radius: 10px
}

/*
.custom_slide{
--sds-c-slider-thumb-color-foreground:black;
--sds-c-slider-thumb-color-foreground-hover: black;
--sds-c-slider-thumb-color-foreground-active: black;
--sds-c-slider-thumb-radius-border: 50%
}*/

hr {
  border-top: 3px solid #ecebea;
  margin: 0 1em;
}

.round {
  position: relative;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked+label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.round input[type="checkbox"]:checked+label:after {
  opacity: 1;
}

.center-container-c {
  display: flex;
  align-items: center;
}

.confirm-button {
  margin: auto;
}

.mt_1 {
  margin-top: 1rem;
}

.mt_2 {
  margin-top: 2rem;
}

.mb_2 {
  margin-bottom: 4rem;
}

.align_center {
  align-items: center;
}

.center_vertical {
  margin-top: auto;
  margin-bottom: auto;
}

.section_container {
  padding: 1rem 2rem 2rem;
  border: 1px solid #ece5e5;
  border-radius: 10px;
  background-color: #fff;
}

.section_value {
  /* background-color: rgb(221, 209, 209); */
  /* color: red; */
  font-weight: bold;
  font-size: 1.5em;
  padding: .3em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin-top: .2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.premiumValue {
  /* color: red; */
  font-weight: bold;
  padding: .3em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.baserate {
  font-size: .6rem;
  color: black;
  font-weight: normal;
}

.section_dropdown {
  /* color: red; */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  width: 200px;
  margin: .5rem auto;
}

.bold {
  font-weight: bold;
}

.line_div {
  background-color: #eee2e2;
  height: .1rem;
}

.ibanner_img {
  width: 100%;
  height: 100%;
  /* padding: 0 .5rem; */
}

.banner_img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.circular_img {
  object-fit: cover;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin: 0 1rem;
}

.policy-tutorial {
  font-weight: bold;
  color: #fff;
  background-color: #c8860d;
  border-radius: 15px;
  padding: .2rem 2rem;
}

.card1 {
  /* border-radius: 10px; */
  margin: 1rem .5rem;
  width: 190px;
  height: 110px;
  text-align: center;
  cursor: pointer;
  /* --sds-c-badge-border-radius: 5px solid red; */
}

.card1_selected {
  box-shadow: 10px 10px 8px 0px rgba(54, 69, 79, 0.64);
  -webkit-box-shadow: 8px 10px 8px 0px rgba(130, 106, 106, 0.64);
  -moz-box-shadow: 10px 10px 8px 0px rgba(54, 69, 79, 0.64);
  width: 220px;
  height: 140px;
  margin: 0px;
  border: 3px solid #d3d3d3;
  border-radius: 10px;
  cursor: pointer;
}

.back_button {
  font-weight: bold;
  color: #fff;
  background-color: rgb(140, 152, 206);
  border-radius: 15px;
  padding: 0 .5rem;
}

.next_button {
  font-weight: bold;
  color: #fff;
  background-color: red;
  border-radius: 15px;
  padding: 0 1rem;
}

.exclusion_selected {
  border-radius: 15px;
  padding: 0.2rem 1rem;
  font-size: .8em;
  margin-left: .5rem;
  background-color: orange;
  color: white;
  cursor: pointer;
}

.exclusion {
  border-radius: 15px;
  /* padding: 0 1rem; */
  font-size: .8em;
  margin-left: .5rem;
  padding: 0.2rem 1rem;
  background-color: #e2d3d3;
  cursor: pointer;
}

.radio-item {
  display: inline-block;
  position: relative;
  padding: 0 6px;
  margin: 10px 0 0;
}

.radio-item input[type='radio'] {
  display: none;
}

.radio-item label {
  color: #666;
  font-weight: normal;
}

.radio-item label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0 5px 0 0;
  width: 20px;
  height: 20px;
  border-radius: 11px;
  border: 2px solid #004c97;
  background-color: transparent;
}

.radio-item input[type=radio]:checked+label:after {
  border-radius: 11px;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 9px;
  left: 10px;
  content: " ";
  display: block;
  background: #ff0000;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}

.display_none {
  display: none;
}

@media all and (max-width: 498px) {
  .card_body {
    padding: 0
  }

  .default_padding {
    padding: 0;
    width: 100%;
  }
}